<h1>Editing quiz result</h1>

<%= render "form", quiz_result: @quiz_result %>

<br>

<div>
  <%= link_to "Show this quiz result", @quiz_result %> |
  <%= link_to "Back to quiz results", quiz_results_path %>
</div>
